@import'./reset';

body {
    background-color: rgb(80, 114, 83);
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

// .col-12 {
//     border: 1px solid black;
//     // justify-content: center;
// }


// collapse navbar-collaps